        /************************************/
        /*********IMPORTS Y FUENTES**********/
        /************************************/
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Metal+Mania&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Double+Ink:wght@100..900&family=IM+Fell+English:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Metal+Mania&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Shadows+Into+Light&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,100..900&display=swap');

        /******************************************/
        /*********ANIMACIONES Y KEYFRAMES**********/
        /******************************************/
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes borde-giratorio {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes latido {
    0%, 100% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes trancision {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    60% {
        opacity: 1;
        transform: translateY(10px);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
        /***************************************/
        /**********ESTRUCTURA BÁSICA************/
        /***************************************/
body {
    margin: 0;
    background-color: #232323;
    height: 100%;
    color: white;

    /*ENTRADA PROGRESIVA A LA WEB*/
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

        /***************************************/
        /**********NAVBAR************/
        /***************************************/
a {
    text-decoration: none;
    color: inherit;
}
.txt{
    color: #EEEEFF;
    font-family: 'Lato', serif;
    font-weight: bold;
    font-size: 20px;

}

.txt:hover{
    background: linear-gradient(#00BCD4,#FF8C00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.4s ease-out;
    transform: scale(1.3);
}
.logo{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Shadows Into Light', serif;
}

.logo:hover{
    transform: scale(1.2);
    transition: transform 0.7s ease-in-out;
}

.nav{
    background-color: #1F1F1F;
}
        /***************************************/
        /**********NAVBAR FORMATO MOVIL************/
        /***************************************/
.mobile-menu-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.mobile-menu-links.visible {
    max-height: 300px;
}
.mobile-menu-links a:focus, .mobile-menu-links a:active {
    background-color: transparent !important;
    outline: none !important;
    color: transparent !important;
    background: linear-gradient(#00BCD4,#FF8C00);
    -webkit-background-clip: text;
    background-clip: text;
}

        /***************************************/
        /**********CONTENEDOR GENERAL************/
        /***************************************/
.contenedor{
    height: 100vh;
    max-width: 90%;
    align-content: center;
    position: relative;
}
.controw {
    margin-top: 40px;:;
    padding: 70px;
    border-radius: 70px;
    border: 10px groove transparent;
    transition: all 0.5s ease;

    background-image:
            linear-gradient(transparent, transparent),
            linear-gradient(transparent, transparent);

    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 200%;

    animation: borde-giratorio 4s linear infinite;
    animation-play-state: paused;
    background-position: 0 0, 0% 50%;
}

.controw:hover {
    background-image:
            linear-gradient(#1F1F1F, #1F1F1F),
            linear-gradient(90deg, #00BCD4 0%, #FF8C00 25%, #00BCD4 50%, #FF8C00 75%, #00BCD4 100%);
    animation-play-state: running;
}

.content-wrapper {
    position: relative;
    width: 100%;
}

.image-container {
    transition: transform 1.5s ease;
    display: flex;
    justify-content: center;
    width: 100%;
}

.busto {
    border-radius: 180px;
    height: 420px;
    width: 325px;
    margin-left: 100px;
    transition: all 1s ease;
}
        /***************************************/
        /**********CONTENDOR INTERNO************/
        /***************************************/
.globador {
    opacity: 0;
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%) translateX(50px);
    text-align: left;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    width: 70%;
    padding-left: 40px;
}

.cambio {
    font-family: 'Lato', serif;
    font-weight: bold;
    font-size: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100px;text-align: center;
    white-space: nowrap;
}

/*Ajusta el width y que no se rompa con salto de linea*/
#texto-animado {
    display: inline-block;
    min-width: 320px;
    text-align: left;
}

.controw:hover .image-container {
    transform: translateX(-35%);
    transition: transform 1.5s ease;
}

.controw:hover .globador {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
    transition-delay: 0.5s;
}

.controw:hover .cv-contenedor {
    animation: latido 2s infinite alternate;
}


.cv {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Lato', serif;
    font-weight: bold;
    font-size: 19px;
    transition: all 0.8s ease-out;
}

.cv-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #333333;
    border-radius: 90px;
    white-space: nowrap;
    margin-left: 7px;
    width: 75px;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
}

.cv-contenedor i {
     color: #EEEEFF;
     font-size: 40px;
     transition: color 0.5s ease-out;
     flex-shrink: 0;
 }


.cv-contenedor:hover {
    box-shadow: 0 0 10px 5px rgba(0, 188, 212, 0.7),
    0 0 20px 5px rgba(255, 140, 0, 0.5);
    transform: scale(1.1);
    width: 282px;
    padding: 10px 40px;
    transition: all 0.8s ease-in-out;
}


.cv-contenedor:hover .cv-texto-oculto {
    max-width: 350px;
    opacity: 1;
    transition: max-width 1s ease-in-out, opacity 0.4s ease-out 0.4s;
    margin-left: 0;
}


.cv-contenedor:hover i {
    background: linear-gradient(#00BCD4,#FF8C00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.5s ease-out;
}

.cv-contenedor:hover button {
    background: none;
    -webkit-background-clip: unset;
    background-clip: unset;
    color: #EEEEFF;
    transition: all 0.5s ease-out;
}


.cv-texto-oculto {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    margin-left: -10px;
    transition: all 1s ease-in-out;


}

.curriculum {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.2;
    opacity: 1;
    cursor: pointer;
}


        /*************************************************/
        /**********************SOBRE MI*******************/
        /*************************************************/

        /*************************************************/
        /****************CONTENEDOR GENERAL***************/
        /*************************************************/


.moji {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
    top: 220px;
    width: 230px;
    height: 250px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.moji.visible {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.sobre_mi{
    height: 300vh;
    max-width: 90%;
    padding-top: 100px;
    position: relative;
    flex-direction: column;
    align-items: center
}

.nombre {
    font-family: 'Shadows Into Light', serif;
    font-weight: bold;
    font-size: 185px;
    opacity: 0;
}

.nombre.visible {
    animation: trancision 2s forwards ease-in-out;
    opacity: 1;
}
.cuadro-texto{
    margin-top: 140px;
    background: linear-gradient(145deg, #1f1f1f, #101010);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.3);
}
.cuadro-texto h1{
    font-family: 'Lato', serif;
    font-weight: bold;
    border-bottom: 3px solid #EEEEFF;
    text-decoration: none;
    display: inline-block;

}
.coment{
    font-family: 'Lato', serif;
    font-size: 25px;
}
.cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color: #EEEEFF;
    margin-left: 4px;
    animation: blink 0.7s infinite;
}

.cont-card{
    margin-top:100px ;
}
.card {
    /* Establece dimensiones, paddings, y fondo según tu diseño */
    margin-bottom: 40px;
    padding: 60px;
    background-color: #333333; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    color: #EEEEFF;
    max-width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    will-change: transform, box-shadow;
}

.card:hover {
    box-shadow: 0 0 10px 5px rgba(0, 188, 212, 0.7),
    0 0 20px 5px rgba(255, 140, 0, 0.5);
    transform: translateY(-5px);

}
.card i{
    font-size: 35px;
    margin-bottom: 10px;
}

        /*************************************************/
        /**********************PROYECTOS*******************/
        /*************************************************/

.contenedor-proyectos{
    height: 155vh;
    max-width: 95%;
    padding-top: 100px;
    position: relative;
    flex-direction: column;
    align-items: center
}
.titulo{
    font-family: 'Lato', serif;
    font-weight: bold;
    font-size: 70px;
    display: inline-block;
    color: #878787;
    border-bottom: 3px solid #878787;

}
.proyecto_2{
    font-family: 'Lato', serif;
    font-size: 20px;
    color: #6c6c6c;
}

.marco_proyectos{
    font-family: 'Lato', serif;
    font-size: 20px;
    background-color: #333333;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.marco_proyectos:hover{
    box-shadow: 0 0 10px 5px rgba(0, 188, 212, 0.7),
    0 0 20px 5px rgba(255, 140, 0, 0.5);
    transform: translateY(-8px);
    transition: all 0.5s ease-in-out;
}

.marco_proyectos:hover img{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
.marco_proyectos img{
    width: 100%;
    height: 220px;
    border-radius: 15px;

}
.titulo_proyectos{
    font-family: 'Lato', serif;
    font-size: 30px;
    color: #a6a6a6;
}

.descripcion_proyecto{
    font-family: 'Lato', serif;
    font-size: 20px;
    color: #6c6c6c;
}

.cont-fr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.cont-fr i{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

.cont-fr i:hover{
    background-color: #1a1d20;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.cont-fr i:hover.ht {
    color: #FF8C00;
}
.cont-fr i:hover.cs {
    color: #264de4;
}
.cont-fr i:hover.boo {
    color: #7952b3;
}
.cont-fr i:hover.jv {
    color: #f7df1e;
}

