@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Metal+Mania&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Double+Ink:wght@100..900&family=IM+Fell+English:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Metal+Mania&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Shadows+Into+Light&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    margin: 0;
    background-color: #232323;
    height: 100%;
    color: white;

    animation-name: fadeIn;
    animation-duration: 0.5s; /* Misma duración que el fadeOut */
    animation-timing-function: ease-in; /* O ease-out, o ease. */
    animation-fill-mode: forwards;
}

a {
    text-decoration: none;
    color: inherit;
}
.txt{
    color: #EEEEFF;
    font-family: 'Lato', serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.txt:hover{
    background: linear-gradient(#00BCD4,#FF8C00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.4s ease-out;
    transform: scale(1.3);
}
.logo{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Shadows Into Light', serif;
}

.nav{
background-color: #1F1F1F;
}
.mobile-menu-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.mobile-menu-links.visible {
    max-height: 300px; /* Suficiente altura para el menú */
}
.mobile-menu-links a:focus, .mobile-menu-links a:active {
    background-color: transparent !important;
    outline: none !important;
    color: transparent !important;
    background: linear-gradient(#00BCD4,#FF8C00);
    -webkit-background-clip: text;
    background-clip: text;
}


.logo2{
    font-size: 50px;
    font-family: 'Shadows Into Light', serif;
    font-weight: bold;
}